html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  overflow: hidden;
  -webkit-transition: opacity 1.5s ease-in-out; 
  transition: opacity 1.5s ease-in-out; 
  opacity: 0;
}

.js-box-hide { 
	opacity: 1;
}

.diamond {
  height: 80px;
  right: -20em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;	
}

.js-move-diamond { 
  right: 3em; 
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  color: darkgoldenrod;
  text-align: center;
  max-height: 0;
  overflow: hidden;  
  -webkit-transition: all 250ms ease-out;  
  transition: all 250ms ease-out; 
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.js-panel-collapse { 
  max-height: 10em;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  background-color: orange;
}

.js-circle-bounce { 
	-webkit-animation: circle-bounce 1s ease-in; 
	animation: circle-bounce 1s ease-in; 
}

@-webkit-keyframes circle-bounce { 
0% { 
	top: 10px; 
	right: 2em;
}
40% { 
	top: 20px; 
	right: 3em;
}	
60% { 
	top: 10px; 
	right: 4em;
}
100% { 
	top: 20px; 
	right: 5em;
	
}	
}

@keyframes circle-bounce { 
0% { 
	top: 10px; 
	right: 2em;
}
40% { 
	top: 20px; 
	right: 3em;
}	
60% { 
	top: 10px; 
	right: 4em;
}
100% { 
	top: 20px; 
	right: 5em;
	
}	
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;	
}

.list li {
  padding: 0.5em;
  background-color: plum;
  border: 1px solid mediumpurple;
  color: mediumpurple; 
}	

.js-list-append { 
  animation: list-append 250ms linear;  
  -webkit-animation: list-append 250ms linear; 
}

@-webkit-keyframes list-append { 
0% { 
	max-height: 0;
}
100% { 
	max-height: 38px;
	
}	
}

@keyframes list-append { 
0% { 
	max-height: 0;
}
100% { 
	max-height: 38px;
	
}	
}