html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  overflow: hidden;
  transition: opacity 1.5s ease-in-out; 
  opacity: 0;
}

.js-box-hide { 
	opacity: 1;
}

.diamond {
  height: 80px;
  right: -20em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
  overflow: hidden;	
}

.js-move-diamond { 
  right: 3em; 
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  color: darkgoldenrod;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: all 250ms ease-out; 
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.js-panel-collapse { 
  max-height: 10em;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  background-color: orange;
  border-radius: 100px; 
  right: -10em;	
}

.js-circle-bounce { 
	animation: circle-bounce 1s linear; 
	right: 4em;
}

@keyframes circle-bounce { 
0% { 
	top: 5px; 
}
40% { 
	top: 10px; 
}	
60% { 
	top: 15px; 
}
100% { 
	top: 10px; 
}	
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
}
